@use "../../styles/partials/typekit" as *;
@use "../../styles/partials/variables" as *;

.pagefour {
    display: flex;
    max-width: $displaywidth;
    width: 100vw;
    height: $displayheight;
    background-color: $background-color;
    flex-direction: column;
    align-items: center;

    &__header {
        font-size: 26px;
        margin: 350px 45px 250px 45px;
    }
}
