// Color palate

$primarycolor: red;
$secondarycolor: aqua;
$tertiarycolor: green;
$background-color: #dcdcdc;

$black: #000000;
$white: #ffffff;

// Display

$displaywidth: 390px;
$displayheight: 844px;
