@use "../../styles/partials/typekit" as *;
@use "../../styles/partials/variables" as *;

.signupactive {
    background-color: $background-color;
    max-width: $displaywidth;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: $displayheight;

    &__back-container {
        margin: 80px 20px 0 20px;
    }

    &__back-arrow {
        display: inline-flex;
    }

    &__header {
        @include pageheader;
        align-self: flex-start;
        margin: 50px 20px 24px 20px;
        font-size: 26px;
        width: 270px;
    }

    &__form {
        margin: 0 0 146px 0;
        &-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    &__button {
        margin: 0 20px 20px 20px;
    }

    &__tos {
        margin: 0 20px 20px 20px;
        font-size: 12px;
    }
}
